* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eff0f2;
}

h2 {
  padding: 2rem;
  margin-bottom: 2rem;
}

h3 {
  padding-bottom: 1rem;
}

.main-container {
  height: 100vh;
}

.parts-container {
  padding: 0 2rem;
}

.parts-title {
  text-align: center;
  margin: 2rem 0;
}

.contents {
  margin-bottom: 5rem;
}

.contents img {
  width: 100%;
  height: auto;
  transition: 0.5s;
  border: 1px solid #fff;
  border-radius: 10px;
}

.contents img:hover {
  transform: translateY(-10px);
}

.parts-content {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 1rem;
  margin-bottom: 5rem;
  width: 100%;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .parts-content {
    grid-template-columns: 100%;
  }
}
